@import "../../../styles/scss/common/colors.scss";

.wrapper {
  box-shadow: 0 1px 3px 0 rgba(89, 98, 115, 0.12);
}
.image {
  width: 100% !important;
  height: auto;
}

.upprArticleDetails {
  padding: 2rem 3.5rem 1rem;
  background-color: $white;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1.5rem;
    color: $article-description;
  }
  .summary {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    border-top: 1px solid $item-border;
  }

  .summaryItem {
    color: $article-description;
  }

  .readMore {
    text-align: right;
    color: $blog-four-sticky;
  }
}

.category {
  padding: .15rem .75rem;
  border-radius: .25rem;
  margin: auto;
  color: $white;
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;

  h6 {
    font-family: "Futura-PT", sans-serif;
    font-size: .7rem;
  }
}

@media (max-width: 650px) {
  .upprArticleDetails {
    padding: 1rem;
  }
  .summary{
    width: 100%;
  }
}
