@import "../../../styles/scss/common/colors.scss";

.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stepBack, .stepForward{
  margin-top: -3.5rem;
  svg{
    width: 2rem;
    height: 2rem;
  }
  &:hover {
    cursor: pointer;
    svg {
      fill: $blog-four-sticky;
    }
  }
}

.wrapper{
  margin: 0 1rem;
  overflow: hidden;
}

.slides{
  display: flex;
  align-content: center;
  position: relative;
  transition: all ease-out .3s;
}

.slide{
  transition: all ease-out .3s;
  padding: 0 2rem;
  img{
    min-width: 15rem;
    width: 100%;
    height: auto;
  }
  &:first-of-type{
    padding-left: 0;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  > span{
    width: 100%;
    height: auto;
    max-height: 70%;
  }
}

.slideTitle{
  margin-top: .75rem;
  font-size: 1.15rem;
  font-family: "Futura-PT", sans-serif;
}

.footer{
  a {
    color: $blog-four-sticky;
  }
}

@media (max-width: 650px) {
  .slide {
    min-width: 100% !important;
  }
}
