@import "../../../styles/scss/common/colors.scss";

.wrapper{
  height: 100%;
  margin-bottom: 1rem;
  background-color: $page-background;
}

.upprSectionTitle{
  margin: 0 0 0.5rem 0.5rem;
  padding: 0 0 1.25rem 0;
  background-color: $page-background;
  border-bottom: 1px solid $item-border;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  h5{
    font-size: 1rem;
    font-family: Raleway-Bold, sans-serif;
  }
}

.upprSectionContent{
  width: 100%;
  padding: 1rem 0 0 0.5rem;
}

.articleContainer{
  padding: 0;
}

.articleImage{
  position: relative !important;
  img{
    padding-right: 1rem;
    min-width: 142px !important;
    max-width: 142px !important;
    height: auto;
  }
}

.articleTitle{
  padding-left: .5rem;
  overflow: hidden;
  p{
    font-family: 'Raleway-SemiBold', sans-serif;
  }
}


@media (max-width: 650px) {
  .articleImage{
    max-width: 100% !important;
  }
  .articleTitle{
    margin-bottom: 2rem !important;
  }
}
