@import "../../../styles/scss/common/colors.scss";

.wrapper{
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(89, 98, 115, .12);
  background-color: $page-background;
}

.upprSectionTitle{
  padding: 1.25rem;
  background-color: $page-background;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  h5{
    font-size: 1rem;
    font-weight: bold;
  }
}

.upprSectionContent{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid $item-border;
}

.articleContainer{
  padding: 0 1rem;
}

.articleImage{
  position: relative !important;
  img{
    padding-right: 1rem;
    min-width: 142px !important;
    max-width: 142px !important;
    height: auto;
  }
}

.articleTitle{
  padding-left: .5rem;
  overflow: hidden;
}


@media (max-width: 650px) {
  .articleImage{
    max-width: 100% !important;
  }
  .articleTitle{
    margin-bottom: 2rem !important;
  }
}
