@import "../../../styles/scss/common/colors.scss";

.authorWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  border: 1px solid $item-border-author-block;
  background-color: rgba(0, 0, 0, .01);
}

.author {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
}

.authorImg {
  width: 112px;
  min-width: 112px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 21px 21px 40px -20px rgba(7,13,34,.4);
  overflow: hidden;
}

.authorDescription {
  width: 67%;
  margin-left: 3rem;
  text-align: left;
  p{
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.25;
    font-size: .82rem;
    margin-bottom: 0;
  }
  .authorName{
    margin: 0;
    font-size: 1.5rem;
    font-family: Raleway-SemiBold, sans-serif;
  }
}


.socialMedia {
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid $item-border-author-block;
}

.socialLink {
  margin-right: 1rem;
  margin-left: 1rem;

  a {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  svg {
    width: 1rem;
  }

  &:hover {
    a {
      border: 1px solid $item-border-author-block;
    }
  }
}

.authorLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid $item-border-author-block;
  background-color: rgba(0, 0, 0, .02);
}

.authorLink {
  display: block;
  width: 33%;
  border: 1px solid transparent;
  transition: width .3s ease-out, color .3s, border-color .3s;
  p{
    font-family: Raleway-Regular, sans-serif;
    font-size: .875rem;
  }

  &:hover {
    width: 50%;
    border-bottom-color: #070d22;
    color: #070d22;
  }
}

@media (max-width: 600px) {
  .author {
    justify-content: center;
  }
  .authorDescription {
    margin-top: 2rem;
    margin-left: 0;
    width: 100%;
  }
}
