@import "../../../styles/scss/common/colors.scss";

.upprSectionTitle {
  padding: 0 0 1.25rem .5rem;
  border-bottom: 1px solid $item-border;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    font-family: Raleway-Bold, sans-serif;
  }
}

.upprSectionContent{
  padding: 0 0 1.25rem 0;
  margin: 1rem 0 2rem 0 !important;

  &:last-of-type{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
}

.tagItem{
  padding: .25rem .75rem;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
  border: 1px solid;
  border-color: $item-border;
  border-radius: .25rem;
  transition: all ease-out .3s;

  p{
    font-family: "Futura-LT", sans-serif;
    font-size: 1rem;
  }
  &:hover{
    cursor: pointer;
    background-color: $primary-200;
  }
}

.socialSectionContent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0;
  .socialLink{
    a{
      display: block;
      margin-right: .5rem;
      padding: .8rem;
      width: 3rem;
      height: 3rem;
      border: 1px solid;
      border-color: $item-border;
      border-radius: 50%;
      &:hover {
        border-color: #d3d8e1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .upprSectionContent {
    margin-bottom: 0 !important;
  }
  .socialLink {
    a {
      padding: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
