@import "../../../styles/scss/common/colors";

.upprheaderWrapper {
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 3rem;
  display: flex;
  background-color: $white;
  -webkit-box-shadow: 0px 10px 23px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 23px -6px rgba(0, 0, 0, 0.1);

}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 80rem;
}

.headerLeftBlock{
  display: flex;
  align-items: center;
}

.headerRightBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
  padding-left: 3rem;
}

.uppr-main-menu {
  display: flex;
  flex-direction: row;
  li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    min-width: 4rem;
    text-align: center;
    &:last-of-type {
      margin-right: 0;
    }
  }
  a {
    font-size: 0.8rem;
    text-decoration: none;
  }
}


@media (max-width: 400px) {
  .upprheaderWrapper{
    height: auto;
  }
  .wrapper {
    flex-wrap: wrap;
  }

  .headerRightBlock{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-left: 0;
    margin: 2rem auto 1rem;
  }
}
