@import "../../../styles/scss/common/colors.scss";

.testResultMessage {
  font-family: Raleway-Regular, sans-serif;
  width: 75%;
  margin: auto;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 3rem;
  h4 {
    font-family: Raleway-Bold,sans-serif;
    margin-top:  2rem;
  }
  h4+p {
    margin-top: -1.25rem;
  }
  p+ul, p+ol, h4+ul {
    margin-top: -1rem;
    padding-left: 2rem;
    list-style: disc;
  }
  p+p{
    margin-top: -1rem;
  }
}

@media (max-width: 650px) {
  .testResultMessage {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}
