@import "../../../styles/scss/common/colors.scss";

.wrapper {
  height: 100%;
  margin-bottom: 1rem;
  background-color: $page-background;
}

.upprSectionTitle {
  margin: 0 0 0.5rem 0.5rem !important;
  padding: 0 0 1.25rem 0;
  border-bottom: 1px solid $item-border;
  background-color: $page-background;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    font-family: Raleway-Bold, sans-serif;
  }
}

.wrapperDownload {
  padding: 0 0 1rem 0;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    font-family: Raleway-Regular, sans-serif;
    font-size: .8rem;
  }
}

.upprSectionContent {
  padding-top: 1.25rem;
  margin: 0 0 0.5rem 0.5rem !important;
}

.articleImage {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}
