@import "../../../styles/scss/common/colors.scss";

.wrapper {
  margin-bottom: 4rem;
  box-shadow: 0 1px 3px 0 rgba(89, 98, 115, 0.12);
  background-color: $page-background;
}

.upprSectionTitle {
  padding: 1.25rem;
  background-color: $page-background;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: bold;
  }
}

.wrapperDownload {
  padding: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.upprSectionContent {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid $item-border;
}

.articleImage {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}
