@use "../../../styles/scss/common/colors" as *;

.upprSearchWrapper {
  flex-grow: 2;
  max-width: 400px;
  position: relative;
}

.searchInputWrapper {
  border: 1px solid $item-border;
  border-radius: 1rem;
  padding: 0 1rem;
  position: relative;

  input {
    padding: .4rem .5rem .5rem;
    font-size: .875rem;
    text-align: left;
    color: #000;
    margin: 0;
    width: 100%;
    border: none;
    font-family: Raleway-Regular, sans-serif;

    &:focus, &:active {
      outline: none;
    }
  }
}

.searchInputWrapperWithResult{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.searchIcon{
  position: absolute;
  right: .5rem;
  width: 1.5rem;
  height: 1.25rem;
  top: .5rem;
}

.searchResult{
  position: absolute;
  padding: 0.5rem 1rem;
  top: 2rem;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: $white;
  border: 1px solid $item-border;
  border-radius: 1rem;
}

.searchResultWithResult{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}


.searchResultItem{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid $item-border;
}

.searchResultItemImage{
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-right: 1rem !important;
}

.searchResultItemLink{
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  color: $blog-four-sticky;
}

.responsiveSearch{
  transition: max-width ease-out .35s;
}

@media (max-width: 650px) {
  .upprSearchWrapper{
    //max-width: 40%;
  }
  .responsiveSearch{
    input{
      padding-right: 0;
      padding-left: 0;
    }
  }
}
