@import "../Tags/styles.module";

.articleTags {
  justify-content: center;
}

.tagItem {
  padding: .4rem .9rem;
  font-size: 1rem;
  background-color: transparent;
  font-family: 'Futura-PT', sans-serif;
}
