@use "../../../../../../../styles/scss/common/colors" as *;

.caseStudyContent {
  h5 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: $text !important;
  }

  .caption {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.25;
    text-transform: capitalize;
  }

  .sectionCaption {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
    padding: 1rem 0;
    margin: 0;
    color: $text !important;
  }

  p {
    font-family: Raleway-Regular, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $text;
    margin-bottom: 8px;
  }

  .frameWithExampleAndTitle {
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
    max-width: 60rem;
    margin: 1rem auto 2rem;

    .exampleTitle {
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      margin: 0;
      text-align: left;
      font-family: 'Raleway-Regular', sans-serif;
      font-size: 1rem;
      color: #fff;
      background: linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
    }

    .exampleText {
      padding: 1rem;
      font-family: 'Futura-LT', sans-serif;
      font-size: 1.15rem;
    }
  }

  @media (max-width: 1024px) {
    .caption {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  @media (max-width: 600px) {
    .caption {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}
