@import "../../../styles/scss/common/colors.scss";

.wrapper {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(89, 98, 115, 0.12);
}

.image {
  width: 100% !important;
  height: auto;
}

.upprArticleDetails {
  padding: 1rem;
  background-color: $white;

  .category {
    padding: .25rem .75rem;
    border-radius: .25rem;
    margin: -2.2rem auto auto auto;
    color: $white;

    h6 {
      font-family: "Futura-PT", sans-serif;
      font-size: .8rem;
    }
  }

  h3 {
    padding-top: 1.25rem;
    font-size: 1.5rem;
    font-family: "Futura-PT", sans-serif;
  }

  p {
    padding-top: 1.5rem;
    color: $article-description;
  }

  .summary {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    margin: auto;
  }

  .summaryItem {
    color: $article-description;
  }


  .readMore {
    text-align: right;
    color: $blog-four-sticky;
  }
}
