.loaderWrapper{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
  background-color: rgba(255,255,255,.6);
  z-index: 5;
}

.loader {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
}
