@import "../../../styles/scss/common/colors.scss";

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryListItem {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0.25rem;
  text-align: center;
  border-radius: 2rem;
  background-color: transparent;
  transition: all 0.3s ease-out;
  cursor: pointer;
  text-transform: capitalize;

  &.selected,
  &:hover {
    box-shadow: 0 8px 20px 0 rgba(82, 91, 115, 0.12);
    background-color: $white;
    color: $blog-four-sticky;
  }
}

@media (max-width: 650px) {
  .categoryList{
    padding: 1rem;
    margin: 0;
  }
}
