@import "../../styles/scss/common/colors";

.maxWidthArticleTitleWrapper {
  max-width: 50rem;
  margin: auto;
  padding: 0 3rem;
}

.maxWidthArticleSectionWrapper {
  max-width: 45rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footerContainer {
  display: flex;
  max-width: 60rem;
  margin: auto;
}

.articleOddSection, .articleEvenSection {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.articleOddSection {
  background-color: $white;
}

.articleEvenSection {
  background-color: $white;
}

.subTitle {
  font-family: "Futura-PT", sans-serif;
  font-size: 2.25rem;
  line-height: 1.25;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  color: $text;
}

.articleSubSubTitle {
  font-family: "Futura-PT", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  color: $text;
}

.articleText {
  font-family: "Futura-PT", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $text;
  margin: 0;
  padding-bottom: 1.25rem;

  b {
    font-family: "Futura-Demi", sans-serif;
  }
}

.articlePicture {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pictureGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.picture50 {
  width: 48%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.articlePhrase {
  font-family: "Futura-PT", sans-serif;
  font-size: 2.25rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

.delimiter {
  padding-bottom: 2rem;
  margin: 0;
}

.articleList {
  margin: 0;
  color: $text;

  li {
    .articleText {
      padding-bottom: 0;
    }

    &:last-of-type {
      padding-bottom: 1rem;
    }
  }
}

.enlargedFont {
  font-size: 1.5rem;
}

.numberedList {
  list-style: auto;
}

.discList {
  list-style-type: disc;
}

.dashList {
  p:before {
    content: "-";
    text-indent: -0.75rem;
    display: inline-block;
  }
}

.frameWithExampleAndTitle {
  border: 1px solid $blog-four-sticky;
  max-width: 60rem;
  margin: 1rem auto 2rem;

  .exampleTitle {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0;
    text-align: left;
    font-family: 'Futura-LT', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    background-color: $blog-four-sticky;
  }

  .exampleText {
    padding: 1rem;
    font-family: 'Futura-LT', sans-serif;
  }
}

.articleIframeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: 1rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.frame {
  padding: 1rem;
  border: 2px dashed;
}

.articleLink {
  a {
    color: $link;
  }
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: .5rem;
  padding-bottom: 1.25rem;

  th, td {
    width: 50%;
    padding-left: 1rem;
    text-align: left;
    line-height: 1.5;
  }
}

.articleText + .articleList {
  margin-top: -1.5rem;
}

.articleEvenSection + .articleEvenSection,
.articleOddSection + .articleOddSection {
  padding-top: 0;
}

.articleText.frame + .articleText {
  padding-top: 2.5rem;
}

.articleList30 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.articlePicture50 {
  display: flex;
  justify-content: space-between;

  > span {
    width: 49% !important;
    height: auto;
  }
}

.authorBlock {
  width: 100%;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .maxWidthArticleSectionWrapper, .maxWidthArticleTitleWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footerContainer {
    display: block;

    .authorBlock {
      width: 100%;
      margin-bottom: 3rem;
    }

    .relevantArticles {
      width: 100%;
      padding: 2rem;
    }
  }
}
