@use "../../../../styles/scss/common/colors" as *;

.section{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-top: 5rem;
  margin-bottom: 2.25rem;
  font-size: 3rem;
  font-family: "Futura-PT", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.sectionTitleSplitter{
  margin: auto;
  margin-bottom: 2rem;
  width: 2.5rem;
  border: 2px solid #cbd0df;
}

.shadowTitle{
  margin: 0;
  text-align: center;
  font-size: 8rem;
  font-family: "Futura-PT", sans-serif;
  text-transform: uppercase;
  color: rgba(230, 232, 239, 0.5);
}

.upprAllArticles{
  display: grid;
  align-items: stretch;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content;
  gap: 1rem;
}

.upprArticleList{
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(89 98 115 / 12%);
}

.upprSideBlock{
  display: grid;
  height: 100%;
  grid-template-rows: min-content min-content;
  gap: 1rem;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .shadowTitle{
    display: none;
  }
}
