@use "../../../../styles/scss/common/colors" as *;

.section{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-top: 5rem;
  margin-bottom: 2.25rem;
  font-size: 3rem;
  font-family: "Raleway-SemiBold", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.sectionTitleSplitter{
  margin: auto;
  margin-bottom: 2rem;
  width: 2.5rem;
  border: 2px solid #cbd0df;
}

.shadowTitle{
  margin: 0;
  margin-bottom: -35px;
  text-align: center;
  font-size: 6rem;
  font-family: "Raleway-SemiBold", sans-serif;
  text-transform: uppercase;
  color: rgba(230, 232, 239, 0.5);
}

.upprOthersArticles{
  padding-top: 2rem;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 2rem;
}

.showMoreBtn {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  padding: .75rem 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 2px #e6e8ef;
  transition: box-shadow 300ms ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgb(204 204 204 / 90%);;
  }
  p{
    font-family: Raleway-Regular, sans-serif;
  }
}

.loader {
  width: 40%;
  position: relative;
  margin: auto;
  top: 0.4rem;
}

@media (max-width: 1024px) {
  .upprOthersArticles{
    padding-top: 0;
  }
}

@media (max-width: 650px) {
  .upprOthersArticles{
    display: block;
    padding-top: 0;
  }
  .shadowTitle{
    display: none;
  }
}
