@import "../../../styles/scss/common/colors.scss";

.wrapper {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(89, 98, 115, 0.12);
  transition: all ease-out .3s;

  &:hover {
    cursor: pointer !important;
    transform: scale(1.05) !important;
  }
}

.image {
  width: 100%;
  height: auto;
}

.upprArticleDetails {
  padding: 1rem;
  background-color: $white;

  .category {
    padding: .25rem .75rem;
    border-radius: .25rem;
    margin: -2.2rem auto auto auto;
    color: $white;
    z-index: 1;

    h6 {
      font-family: "Futura-PT", sans-serif;
      font-size: .8rem;
    }
  }

  h3 {
    padding-top: 1.25rem;
    font-size: 1.5rem;
    font-family: "Futura-PT", sans-serif;
  }

  p {
    padding-top: 1.5rem;
    color: $article-description;
  }

  .summary {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    margin: auto;
  }

  .summaryItem {
    color: $article-description;
  }


  .readMore {
    text-align: right;
    color: $blog-four-sticky;
  }
}

.section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sectionTitle {
  font-size: 3rem;
  font-family: "Futura-PT", sans-serif;
  text-transform: capitalize;
  margin-bottom: 2rem;
  border-bottom: 2px solid $item-border;
}

.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: [first] 25% [second] auto [third] 25%;
  grid-template-rows: [r-1] 7% [r-2] auto [r-3] auto [r-4] 7%;
  margin-bottom: 2rem;
}

.item0 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-height: 370px;
  overflow-y: hidden;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  max-height: 370px;
  overflow-y: hidden;
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  max-height: 370px;
  overflow-y: hidden;
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  max-height: 370px;
  overflow-y: hidden;
}

.sliderWrapper {

}


@media (max-width: 650px) {
  .wrapper {
    margin: 2rem 0;
  }

  .title {
    width: 100%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .item0, .item1, .item2, .item3, .item4 {
    max-height: initial;
  }

  .sliderWrapper {
    width: 100% !important;
  }
}
