@import "../../../styles/scss/common/colors.scss";

.wrapper {
  position: relative;
  box-shadow: 0 10px 24px 0 rgb(82 91 115 / 12%);
  transition: all ease-out .3s;

  &:hover {
    cursor: pointer !important;
    transform: translate(0px, -6px);
  }
}

.image {
  width: 100%;
  height: auto;
  max-height: 208px;
}

.upprArticleDetails {
  padding: 1rem 2.5rem 1.5rem;
  background-color: $white;

  .category {
    padding: .15rem .75rem;
    border-radius: .25rem;
    margin: -1.8rem auto auto auto;
    color: $white;
    z-index: 1;

    h6 {
      font-family: "Futura-PT", sans-serif;
      font-size: .7rem;
    }
  }

  h3 {
    padding-top: 1.25rem;
    font-size: 1.5rem;
    font-family: "Futura-PT", sans-serif;
  }

  p {
    padding-top: 1.5rem;
    color: $article-description;
  }

  .summary {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    margin: auto;
  }

  .summaryItem {
    color: $article-description;
  }


  .readMore {
    text-align: right;
    color: $blog-four-sticky;
  }
}

.section {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-top: 5rem;
  margin-bottom: 2.25rem;
  font-size: 3rem;
  font-family: "Futura-PT", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.sectionTitleSplitter {
  margin: auto;
  margin-bottom: 2rem;
  width: 2.5rem;
  border: 2px solid #cbd0df;
}

.shadowTitle {
  margin: 0;
  margin-bottom: -40px;
  text-align: center;
  font-size: 8rem;
  font-family: "Futura-PT", sans-serif;
  text-transform: uppercase;
  color: rgba(230, 232, 239, 0.5);
}

.container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: [first] 25% [second] auto [third] 25%;
  grid-template-rows: [r-1] 7% [r-2] auto [r-3] auto [r-4] 7%;
  margin-bottom: 3rem;
}

.item0 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-height: 370px;
  overflow-y: hidden;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  max-height: 370px;
  overflow-y: hidden;
}

.item2 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  max-height: 370px;
  overflow-y: hidden;
}

.item4 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  max-height: 370px;
  overflow-y: hidden;
}

.sliderWrapper {
  position: relative;
}


@media (max-width: 1024px) {
  .wrapper {
    margin: 2rem 0;
  }

  .title {
    width: 100%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0;
  }

  .item0, .item1, .item2, .item3, .item4 {
    max-height: initial;
    grid-column: initial;
    grid-row: initial;
  }

  .sliderWrapper {
    width: 100% !important;
  }

  .shadowTitle {
    display: none;
  }
}
