@import "../../../styles/scss/common/colors.scss";

.upprOthersArticles{
  padding-top: 2rem;
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  gap: 2rem;
}

.upprAllArticles{
  display: grid;
  align-items: stretch;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content;
  gap: 1rem;
}

.upprArticleList{
  height: 100%;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(89 98 115 / 12%);
}

.upprSideBlock{
  display: grid;
  height: 100%;
  grid-template-rows: min-content min-content;
  gap: 1rem;
  padding-left: 1rem;
}

@media (max-width: 1024px) {
  .upprOthersArticles{
    grid-template-columns: 1fr;
  }
  .upprAllArticles{
    grid-template-columns: 1fr;
  }
  .upprSideBlock{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
}

@media (max-width: 650px) {
  .upprAllArticles{
    grid-template-columns: 1fr;
  }
  .upprSideBlock{
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}
