@use "../../../styles/scss/common/colors" as *;

.showMoreBtn {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  padding: .75rem 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 2px #e6e8ef;
  transition: box-shadow 300ms ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgb(204 204 204 / 90%);;
  }
  p{
    font-family: Raleway-Regular, sans-serif;
  }
}

.loader {
  width: 40%;
  position: relative;
  margin: auto;
  top: 0.4rem;
}

.showMoreLink{
  padding: .75rem 1.5rem;
  width: 10rem;
  text-align: center;
}

.link{
  font-family: Raleway-Regular, sans-serif;
  padding-bottom: 0.25rem;
  font-size: .8rem;
  text-transform: uppercase;
  border-bottom: 2px solid $item-border;
  transition: border-bottom-color .35s;
  &:hover {
    cursor: pointer;
    border-bottom-color: $text;
  }
}
