@use "../styles.module" as *;
@use "../../styles/scss/common/colors" as *;

.upprArticleCategories{
  padding: 5rem 0 4rem;
}

.loader {
  max-width: 10%;
  margin: auto;
  color: $primary-200;
  svg {
    fill: currentColor;
  }
}
