@use "../../../../../styles/scss/common/colors" as *;

.dialog {
  .modalTitle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    max-width: 60%;
    margin: auto;
    color: white;
    align-self: center;
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.25;
    text-transform: capitalize;
  }

  .modalContent {
    padding: 0 !important;
  }

  .modalContentText {
    color: $text !important;
    padding: 36px 72px !important;
  }

  @media (max-width: 1024px) {
    .modalContentText {
      padding: 1rem !important;
    }
  }

  @media (max-width: 600px) {
    .modalTitle {
      left: 1rem;
      right: auto;
      top: 1rem;
      bottom: auto;
    }
  }
}
