@import "../../styles/scss/common/colors.scss";

.upprBlogPage {
  position: relative;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  overflow-x: clip;
  background-color: $page-background;
}

.upprArticleCategories {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
}

.upprArticlesContent {
  max-width: 1200px;
  padding: 0 1rem 6rem 1rem;
  margin: auto;
}

@media (max-width: 650px) {
  .upprPageContent{
    width: 100%;
  }
  .upprArticleCategories{
    padding: 2rem 0;
  }
}

