@import "../../styles/scss/common/colors.scss";

.upprBlogPage {
  position: relative;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  background-color: $page-background;
}

.upprBlogMainPicture {
  position: relative;

  span{
    display: initial !important;
  }
  img {
    filter: brightness(.65);
    object-fit: cover;
    width: 100% ;
    height: auto;
    max-height: 53vh;
    object-position: 0;
  }
}

.upprArticleCategories {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
}

.upprArticlesContent {
  max-width: 1240px;
  padding: 0 1rem 6rem 1rem;
  margin: auto;
}


@media (max-width: 960px) {
  .upprBlogMainPicture{
    img {
      height: 40vh;
    }
  }
}

@media (max-width: 650px) {
  .upprPageContent{
    width: 100%;
  }
  .upprArticleCategories{
    padding: 2rem 0;
  }
  .upprBlogMainPicture{
    img {
      height: 28vh;
    }
  }
}
@media (max-width: 420px) {
  .upprBlogMainPicture{
    img {
      height: 16vh;
    }
  }
}
