@import "../../styles/scss/common/colors.scss";

.upprBlogPage {
  position: relative;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  background-color: $page-background;
}

.upprBlogMainPicture {
  position: relative;

  img {
    top: -64% !important;
    width: 100%;
    min-height: 50% !important;
    max-height: 50% !important;
    object-fit: cover;
    filter: brightness(0.8);
  }
}

.upprArticleCategories {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  margin-top: -34%;
}

.upprArticlesContent {
  max-width: 1240px;
  padding: 0 1rem 6rem 1rem;
  margin: auto;
}


@media (max-width: 650px) {
  .upprBlogMainPicture{
    img {
      min-height: 100% !important;
      max-height: 100% !important;
    }
  }
  .upprPageContent{
    width: 100%;
  }
  .upprArticleCategories{
    margin-top: -20%;
    padding: 2rem 0;
  }
}
