@import "../../styles/scss/common/colors.scss";

.upprBlogPage {
  position: relative;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  background-color: $page-background;
}

.upprBlogMainPicture {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
    filter: brightness(.8);
    height: 45vh;
    object-position: 0;
  }
}

.upprArticleCategories {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
}

.upprArticlesContent {
  max-width: 1240px;
  padding: 0 1rem 6rem 1rem;
  margin: auto;
}


@media (max-width: 960px) {
  .upprBlogMainPicture{
    img {
      height: 30vh;
    }
  }
}

@media (max-width: 650px) {
  .upprPageContent{
    width: 100%;
  }
  .upprArticleCategories{
    padding: 2rem 0;
  }
}
@media (max-width: 400px) {
  .upprBlogMainPicture{
    img {
      height: 20vh;
    }
  }
}
