@import "../../styles/scss/common/colors.scss";

.upprBlogPage {
  position: relative;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  background-color: $page-background;
}

.upprBlogMainPicture {
  position: relative;

  span{
    display: initial !important;
  }
  img {
    filter: brightness(.65);
    width: 100%;
    height: auto;
  }
}

.titleTextWrapper{
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $white;
  .pageTitleSeparator{
    width: 2.5rem;
    height: .25rem;
    background-color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .pageSubTitle{
    font-family: "OpenSansSemiBold", sans-serif;
  }
}

.upprArticleCategories {
  display: flex;
  justify-content: center;
  padding: 6rem 0;
  position: relative;
}

.upprArticlesContent {
  max-width: 1240px;
  padding: 0 1rem 6rem 1rem;
  margin: auto;
}

@media (max-width: 650px) {
  .upprPageContent{
    width: 100%;
  }
  .upprArticleCategories{
    padding: 2rem 0;
  }
}
@media (max-width: 420px) {
  .pageTitle{
    font-size: 1.5rem !important;
  }
  .pageSubTitle{
    font-size: .8rem !important;
  }
}
