@use "../../../styles/scss/common/colors" as *;

.titleWrapper {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.titleContent {
  padding-right: 0;
}

.titleImage {
  position: relative;
}

.title {
  font-size: 2rem;
  font-family: 'Raleway-Bold', sans-serif;
  line-height: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.shortMessage {
  font-family: 'Raleway-Regular', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 2rem;
}

.categoryBadge {
  font-size: .875rem;
  font-family: "Raleway-Regular", sans-serif;
  z-index: 5;
  text-transform: uppercase;

  .published{
    position: relative;
    padding-left: 1.5rem;
    color: #999999;
    &:before {
      position: absolute;
      width: .5rem;
      height: .5rem;
      background-color: #999999;
      border-radius: .5rem;
      content: "";
      left: 8px;
      top: 4px;
    }
  }
}

.parallaxWrapper{
  position: absolute !important;
  overflow: visible !important;
  top: -60%;
  width: 100%;
  height: 150%;
}
.parallaxWrapperChild{
  position: relative;
}

.squareTopLeft{
  position: absolute;
  left: -7%;
  top: 20%;
  width: 28px;
  height: 28px;
  border: 3px solid #ff9c2d;
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
}

.circleTopRight {
  position: absolute;
  top: 2%;
  right: -65%;
  width: 36vh;
  height: 36vh;
  margin-top: 104px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #ff9f2e, #f723c4);
  z-index: -1;
}

.circleBottomLeft {
  position: absolute;
  left: -62%;
  bottom: 8%;
  width: 26vh;
  height: 26vh;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #00f2aa, #0083ff);
  z-index: -1;
}

.triangleBottomRight {
  position: absolute;
  right: -10%;
  bottom: 0%;
  border-top: 28px solid #f437a8;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  background-color: transparent;
}

.rotate{
  animation: loading 8s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1024px) {
  .titleWrapper {
    flex-direction: column-reverse;
  }
  .titleContent, .titleImage {
    width: 100%;
    padding: 0;
  }
}
