$white: #fff;
$black: #000;

$text: #44546A;
$articleOddSection: #f3f5f7;

$blog-title: #ff603b;
$blog-kiss-article: #00c7e6;
$acronims-in-emails: #00c7e6;
$blg-ten-odd-words: #51B3DF;
$subject-line: #00BADB;
$blog-four-sticky: #4b6bf5;
$blog-procrastination-article: #9C00E5;
$blog-english-blog: #FF454E;
$blog-mr-williams: #E66A59;
$blog-please-find: #EB5650;
$blog-please-find-2: #5CD48F;
$blog-thanks-in-advance: #00B298;
$blog-meet-or-not-to-meet: #77B643;
$followup-typical-bug: #FEB729;

$item-border: #e4e4e4;
$page-background: #f5f6f8;

$article-description: #44546A;;

$primary-200: #c9dfff;
