@font-face {
  font-family: "Poiret-One";
  src: url("/fonts/PoiretOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Bold";
  src: url("/fonts/museo_sans_cyrl_900.eot");
  src: url("/fonts/museo_sans_cyrl_900_iefix.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/museo_sans_cyrl_900.ttf") format("truetype"),
    url("/fonts/museo_sans_cyrl_900.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo-Sans-Cyrl-Reg";
  src: url("/fonts/museo_sans_cyrl_500.eot");
  src: url("/fonts/museo_sans_cyrl_500_iefix.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/museo_sans_cyrl_500.ttf") format("truetype"),
    url("/fonts/museo_sans_cyrl_500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('/fonts/OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura-PT";
  src: url("/fonts/FuturaPT-Book.eot");
  src: url("/fonts/FuturaPT-Book.eot?#iefix")format("embedded-opentype"),
  url("/fonts/FuturaPT-Book.woff") format("woff"),
  url("/fonts/FuturaPT-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura-LT";
  src: url('/fonts/futura-pt-light.otf'),
       url('/fonts/futura-pt-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura-Demi-Bold";
  src: url("/fonts/FuturaBQDemiBold.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura-Demi';
  src: url("/fonts/FuturaPT-Demi.eot");
  src: url("/fonts/FuturaPT-Demi.eot?#iefix")format("embedded-opentype"),
  url("/fonts/FuturaPT-Demi.woff") format("woff"),
  url("/fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


//uppr icon font
@font-face {
  font-family: "uppr-icon-font";
  src: url("/fonts/uppr-icon-font.eot?dcxn2a");
  src: url("/fonts/uppr-icon-font.eot?dcxn2a#iefix") format("embedded-opentype"),
    url("/fonts/uppr-icon-font.ttf?dcxn2a") format("truetype"),
    url("/fonts/uppr-icon-font.woff?dcxn2a") format("woff"),
    url("/fonts/uppr-icon-font.svg?dcxn2a#uppr-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
////
.uppr-font-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "uppr-icon-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analize-icon:before {
  content: "\e90f";
}
.icon-arrow-icon:before {
  content: "\e910";
}
.icon-gear-icon:before {
  content: "\e911";
}
.icon-hexagon-icon:before {
  content: "\e912";
}
.icon-letter-icon:before {
  content: "\e913";
}
.icon-mappointer-icon:before {
  content: "\e914";
}
.icon-mustache-icon:before {
  content: "\e915";
}
.icon-phone-icon:before {
  content: "\e916";
}
.icon-share-knowledge-icon:before {
  content: "\e917";
}
.icon-thumb-icon:before {
  content: "\e918";
}
.icon-phone-icon2:before {
  content: "\e919";
}
.icon-clipboard:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e902";
}
.icon-home-icon:before {
  content: "\e903";
}
.icon-list:before {
  content: "\e904";
}
.icon-notifications-icon:before {
  content: "\e905";
}
.icon-open-book:before {
  content: "\e906";
}
.icon-open-magazine:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-settings-1:before {
  content: "\e909";
}
.icon-settings:before {
  content: "\e90a";
}
.icon-success-noti:before {
  content: "\e90b";
}
.icon-transfer-1:before {
  content: "\e90c";
}
.icon-transfer:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
