.uppr-page-content{
  font-family: 'Futura-LT', sans-serif;
  font-size: 16px;
  color: #44546A;
  max-width: 1200px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}
html {
  scroll-behavior: smooth;
}
