@import "../styles/scss/common/colors";

.section {
  position: relative;
  margin-top: -18rem;
  z-index: 1;
}

.sectionTitle {
  padding: 2rem 0 6rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.firstLine {
  display: flex;
  align-items: baseline;
  justify-content: center;

  h4 {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Futura-Demi", sans-serif;
    color: white;
    margin: 0;
    padding-bottom: 1rem;
  }

  span {
    color: white;
  }
}

.sectionContent {
  background-color: #ededeb;
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -6rem;
  max-width: 82%;
  margin: auto;
}

.badge {
  margin: 2rem 2rem 1rem;
  padding: 2rem;
  text-align: center;
  max-width: 18rem;
  min-width: 18rem;
  background-color: #f3f5f7;
}

.iconWrapper {
  font-size: 6rem;
  font-family: uppr-icon-font;

  .uppr-icon-wrapper {
    font-size: 3rem;
  }
}

.badgeFirstLine {
  margin-top: 1rem;
  text-align: center;
  font-family: Museo-Sans-Cyrl-Bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.badgeSecondLine {
  margin-top: 0.5rem;
  font-family: Museo-Sans-Cyrl-Reg;
  font-size: 1.5rem;
}

.comments {
  padding: 3rem 0 0;
  text-align: center;
  margin-bottom: 0rem;
  top: -3rem;
  background-color: white;
  position: relative;

  h4 {
    font-family: 'Futura-PT', sans-serif !important;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 0;
    color: $text;
  }
}

.howItWorksWrapper {
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
}

.howItWorks {
  text-align: center;

  h4 {
    text-transform: uppercase;
    font-family: Museo-Sans-Cyrl-Bold, sans-serif !important;
    font-size: 2rem;
    background-color: #d4d4d4;
    padding: 1.25rem 1rem 1rem;
    margin: 0;
  }
}

.howItWorksItem {
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 82%;

  h6 {
    font-family: Museo-Sans-Cyrl-Reg, sans-serif !important;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5em;
  }
}

.howIconWrapperFirst {
  position: relative;
  margin-right: 2rem;
  color: #a4a4a4;
  font-size: 6rem;
  font-family: uppr-icon-font;
}

.howIconWrapperSecond {
  font-size: 3rem;
  font-family: uppr-icon-font;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4d4d4d;
}

.telegramChannel {
  min-height: 75vh;
  background-color: #f3f5f7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-decoration: none;
    padding: 1rem 3rem;
    border: 1px solid #95a6b8;
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease-out 0.3s;

    &:hover {
      background-color: #e1e6eb;
    }
  }
}

.telegramBlock{
  h4 {
    font-family: Museo-Sans-Cyrl-Reg, sans-serif !important;
    font-size: 2.5rem;
    padding: 1.25rem 1rem 1rem;
    margin: 0;
  }
}

.iconTelegram {
  margin: 0 auto 3rem;
}

.signIn{
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1.25rem 1rem 1rem;
  font-family: Futura-PT, sans-serif;
}

.finalMessage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);

  h4 {
    font-family: Futura-PT, sans-serif !important;
    color: white;
    line-height: 3rem;
    font-size: 2rem;
    margin: 0;
  }
}
