@import "../styles/scss/common/colors";

.screen {
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  max-width: 1200px;
  min-height: 80%;
  height: calc(100vh - 80px);
}

.column {
  height: 100%;
  width: 50%;
  padding-top: 3rem;
}

.screenFirst {
  .leftColumn {
    width: 40%;
    min-width: 385px;
    padding-top: 12%;

    h1 {
      display: inline;
      margin: 0;
      font-size: 2.5rem;
      line-height: 1.1;
      font-family: 'Raleway-Bold', sans-serif;

      &.emailWord {
        background-image: linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9));
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .customTypeAnimationCursor1,
    .customTypeAnimationCursor2 {
      span {
        &:after {
          content: '';
        }
      }
    }

    h4 {
      margin: 0;
      padding-top: 3rem;
      font-family: 'Raleway-Regular', sans-serif;
      font-size: 1.25rem;
      line-height: 1.5;
    }

    button {
      margin-top: 4rem;
      display: flex;
      align-content: center;
      justify-content: center;
      padding: .75rem 1.75rem;
      border-radius: 1.5rem;
      font-size: 1rem;
      line-height: 1.25;
      font-family: Raleway-Regular, sans-serif;
      cursor: pointer;
      text-transform: capitalize;
      color: $text;
      background: linear-gradient(white, white) padding-box,
      linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
      border: 2px solid transparent;

      &:hover {
        background: linear-gradient(white, white) padding-box,
        linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
        border: 2px solid transparent;
      }

      &:disabled {
        background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, $text, $text) border-box;
        border: 2px solid transparent;
      }
    }
  }

  .rightColumn {
    width: 50%;
    min-width: 390px;
    text-align: right;
    position: relative;

    .mainSectionImage {
      position: absolute;
      left: 15%;
      top: 0;
      width: auto;
      height: 700px;
      z-index: 3;
      margin-left: 3rem;
    }

    .backgroundImage1 {
      position: absolute;
      top: 12rem;
      left: -7rem;
      right: 0;
      margin: auto;
      z-index: 2;
      width: auto;
      height: 210px;
    }

    .backgroundImage2{
      position: absolute;
      top: 15rem;
      left: auto;
      right: -5rem;
      margin: auto;
      z-index: 3;
      height: 75px;
      width: auto;
    }

    .backgroundImage3{
      position: absolute;
      top: 26.25rem;
      left: 5rem;
      right: auto;
      margin: auto;
      z-index: 3;
      height: 75px;
      width: auto;
    }
    .backgroundImage4{
      position: absolute;
      top: 25.5rem;
      left: auto;
      right: -3.5rem;
      margin: auto;
      z-index: 2;
      height: 160px;
      width: auto;
      border-radius: 10px;
    }
  }
}

.screenSecond {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  line-height: 1.1;
  font-family: 'Raleway-Bold', sans-serif;
  margin-bottom: 5rem;

  .phraseWrapper {
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .quotes {
    background-image: linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    line-height: 1.1;
    font-family: 'Raleway-Bold', sans-serif;
  }

  h2 {
    display: inline;
    font-size: 3rem;
    line-height: 1.1;
    font-family: 'Raleway-Bold', sans-serif;
  }

  h4 {
    font-size: 1rem;
    font-style: italic;
    font-family: 'Raleway-Regular', sans-serif;
  }
}

.screenThird{
  height: auto;
  width: 100%;
  text-align: center;
  background-color: #c9dfff;
  margin-bottom: 8rem;
  .firstColumn {
    width: 20%;
  }
  .secondColumn {
    width: 50%;
    text-align: center;
    img{
      width: 70%;
      height: auto;
    }
  }
  .thirdColumn {
    width: 30%;
  }
}
