@use "../../styles/scss/common/colors" as *;

.upprPage {
  position: relative;
  background-color: $page-background;
}

.upprPageContent {
  margin: auto;
  max-width: 1200px;
  padding: 0;
  overflow-x: clip;
}

.upprPublicOfferPage {
  padding-bottom: 6rem;
  padding-top: 6rem;
  h1, h2{
    margin: 0;
    font-weight: 800;
    font-family: 'Futura-Demi-Bold', sans-serif;
    text-align: center;
    font-size: 2.5rem;
  }

  h2{
    text-align: left;
    font-size: 1.25rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  ol {
    counter-reset: item;
    li {
      display: block;
      font-family: "Futura-PT", sans-serif;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      line-height: 1.5rem;
      padding-left: 1rem;
      p{
        margin-left: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
      }
      b {
        color: $black;
        font-family: 'Futura-Demi-Bold', sans-serif;
        font-size: 1rem;
      }

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }
    }
  }

  ul {
    padding-inline-start: 0;
    li{
      margin-bottom: 0.25rem;
      &:before{
        content: '- ';
      }
    }
  }



  h2{
    display: inline-block;
  }
  a{
    color: $link;
  }
}
