@import "../../../styles/scss/common/colors";

.upprMainMenu {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    min-width: 4rem;
    text-align: center;
    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
  & a {
    font-size: 1rem;
    text-decoration: none;
    font-family: "Futura-LT", sans-serif;
  }
  
  svg {
    width: 1rem;
    height: 1rem;
  }

  .active {
    color: $blog-four-sticky;
    text-decoration: none;
    font-family: "Futura-Demi", sans-serif;

    svg {
      path{
        fill: currentColor;
      }
    }
  }

}

.upprMobileMainMenu{
  position: absolute;
  display: block;
  padding-left: 0;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  width: 10rem;
  right: 3.5rem;
  top: -0.5rem;
  border: 1px solid $item-border;
  border-radius: .5rem;
  li {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:hover, &:focus {
      cursor: pointer;
      background-color: $item-border;
    }
  }
}

.menuWrapper{
  display: flex;
  padding: 0.4rem 1rem 0.5rem;
  position: relative;
  transition: width ease-out .35s;
}

@media (max-width: 650px) {
  .menuIcon{
    position: absolute;
    right: .5rem;
    width: 1.75rem;
    height: 1.75rem;
    top: -.125rem;
  }

}
