.upprLogo{
  display: flex;
  align-items: baseline;
  span{
    font-size: 1rem;
    strong {
      font-size: 1.25rem;
    }
  }
}

.inText{
  span{
    font-size: 2rem;
    font-family: 'Futura-Demi', sans-serif;
    strong{
      font-size: 2.25rem;
    }
  }
}

.keepItSimple{
  font-family: Raleway-Regular, sans-serif;
}
