@use "../../../../styles/scss/common/colors" as *;

.linkAsButton{
  display: block;
  padding: 0.75rem 1rem;
  min-width: 8rem;
  border-radius: 2rem;
  text-align: center;
  font-family: "Futura-PT", sans-serif;
  background-color: transparent;
  transform: scale3d(0.7, 0.7, 1);
  opacity: 0;
  transition: all 0.35s ease-out;
}
