@use "../../styles/scss/common/colors" as *;

.upprPageContentWrapper {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.upprPageContent {
  max-width: initial;
  padding: 0;
  overflow-x: clip;
  background-color: $page-background;
}

.upprContent {
  max-width: 1200px;
  padding: 0rem 2rem 4rem 2rem;
  margin: auto;

  > ol {
    padding-left: 0;
    width: 70%;
    margin: auto;
  }
}

.wave {
  position: relative;
  top: -2rem;
  height: 3rem;
}

.sectionTitle {
  position: sticky;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 70%;
  margin: auto auto 0;
  background-color: $white;
  z-index: 1;
  font-size: 3rem;
  font-family: Raleway-Regular, sans-serif;
}

.questionTitle {
  padding-top: 1rem;
  font-family: Raleway-Regular, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.questionTitleNested {
  margin-bottom: 0;
}

.questionBody {
  font-family: Raleway-Regular, sans-serif;
  font-size: 1rem;
  margin-left: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.35;
}

.subQuestionList {
  padding-left: 0;
  margin-top: 18px;
}

.optionListItem {
  label {
    align-items: start;
  }
}

.optionListItemCorrect {
  label {
    color: green;
    span {
      font-family: Raleway-Bold, sans-serif;
    }
  }
}

.optionListItemWrong {
  label {
    color: darkred !important;
  }
}


.questionOptionText {
  span {
    font-family: Raleway-Regular, sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    padding-top: .125rem;
    padding-bottom: 0;
  }

  svg {
    width: 1rem;
  }
}

.stepButtons {
  margin-top: 4rem;
  justify-content: space-between;

  button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .75rem 1.75rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: Raleway-Regular, sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    color: $text;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
    border: 2px solid transparent;

    &:hover {
      background: linear-gradient(white, white) padding-box,
      linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
      border: 2px solid transparent;
    }

    &:disabled {
      background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, $text, $text) border-box;
      border: 2px solid transparent;
    }
  }
}


.testResultCaption {
  margin-bottom: 2rem;
  font-family: Raleway-Regular, sans-serif;
  line-height: 1.25;
  img {
    width: 13%;
    height: auto;
  }
}

.testResult {
  position: relative;
  background-color: #dddfe2;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.testResultBody {
  margin: auto;
  text-align: center;
  width: 65vw;
  background-color: white;
  border-radius: .5rem;
  box-shadow: rgba(29, 36, 50, 0.1) 0px 10px 40px 0px;
  overflow: hidden;

  hr {
    border: none;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    width: 100%;
    height: 4px;
    margin-top: 0;
    margin-bottom: 4rem;
    background: linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9));
  }
}

.testResultTitle {
  margin-bottom: 2rem;
  font-family: Raleway-Regular, sans-serif;
  line-height: 1.25;
}

.testResultControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  bottom: 0;
  padding: 2rem;
  border-top: 1px solid #DDDFE2;

  a {
    font-family: Raleway-Bold, sans-serif;
    background: linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .75rem 1.75rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: Raleway-Regular, sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
    border: 2px solid transparent;

    &:hover {
      background: linear-gradient(white, white) padding-box,
      linear-gradient(135deg, rgba(255, 77, 174, 0.9), rgba(66, 104, 255, 0.9)) border-box;
      border: 2px solid transparent;
    }
  }
}

@media (max-width: 650px) {
  .upprPageContent {
    width: 100%;
  }
  .upprContent {
    > ol {
      width: 100%;
    }
  }
  .upprArticleCategories {
    padding: 2rem 0;
  }
  .testResultBody {
    hr {
      margin-bottom: 2rem;
    }
  }
  .testResultControls{
    padding-left: 1rem;
    padding-right: 1rem;
    button {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
}
