@import "../../../styles/scss/common/colors.scss";

.upprBlogMainPicture {
  position: relative;

  span{
    display: initial !important;
  }
  img {
    filter: brightness(.65);
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }
}

.titleTextWrapper{
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $white;
  .pageTitleSeparator{
    width: 2.5rem;
    height: .25rem;
    background-color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .pageSubTitle{
    font-family: "OpenSansSemiBold", sans-serif;
  }
}

@media (max-width: 420px) {
  .pageTitle{
    font-size: 1.5rem !important;
  }
  .pageSubTitle{
    font-size: .8rem !important;
  }
}
