@import "../../../styles/scss/common/colors.scss";

.articleTags{
  margin-top: 1rem;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
}

.header {
  a {
    color: $blog-four-sticky;
  }
}


.tagItem{
  display: block;
  padding: .25rem .75rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid $item-border;
  border-radius: .25rem;
  transition: all ease-out .3s;

  p{
    font-family: "Futura-PT", sans-serif;
    font-size: 1rem;
  }

  &:hover{
    cursor: pointer;
    background-color: $primary-200;
  }

  &.selected{
    cursor: pointer;
    background-color: $primary-200;
    border-color: $blog-four-sticky;
  }

}
