.accordion {
  h3 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }

  h6 {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5;
    margin: .5rem 0;
  }
}
