@use "../../../../styles/scss/common/colors" as *;

.section{
  background-color: $white;
  box-shadow: 0PX -2PX 7PX -2px rgba(0, 0, 0, 0.1);
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 82rem;
  padding: 0 1rem 3rem 1rem;
}

.firstColumn {
  padding-top: 4rem;
  width: 25%;
  min-width: 320px;
  div[class*="uppr-section-content"] {
    padding-top: 0;
  }
}

.secondColumn {
  padding-top: 4rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.thirdColumn{
  padding-top: 4rem;
  width: 30%;
  min-width: 320px;
}

.fourthColumn{
  padding-top: 4rem;
  width: 15%;
  min-width: 200px;
}

.divider {
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  width: 2.75rem;
  height: .25rem;
  background-color: $item-border;
}

.sectionTitle{
  margin: 0;
  font-family: Raleway-Bold, sans-serif;
}

.link{
  font-family: Raleway-Regular, sans-serif;
  margin-bottom: 1rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.top3ArticlesCustom{
  margin-left: -8px;
  margin-top: -0.5rem;
  div[class*="styles_articleImage"] {
    padding-top: 0;
  }
  div[class*="styles_articleTitle"] {
    padding-top: 0;
    a p {
      font-family: Raleway-Regular, sans-serif;
    }
  }
}
