# This is a basic workflow to help you get started with Actions

name: uppr-image-resizer

# Controls when the workflow will run
on:
#  # Triggers the workflow on push or pull request events but only for the main branch
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: main

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Image Resizing
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.SSH_HOST }}
          USERNAME: ${{ secrets.SSH_USER }}
          KEY: ${{ secrets.SSH_KEY }}
          PORT: ${{ secrets.SSH_PORT }}
          script: |
            cd /var/www/uppr.com.ua
            npm run update:images
            pm2 stop uppr.com.ua
            pm2 delete uppr.com.ua
            pm2 start npm --name "uppr.com.ua" -- start
