# This is a basic workflow to help you get started with Actions

name: uppr-main-deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  NODE_ENV: ${{secrets.NODE_ENV}}
  ITP_MYSQL_USER: ${{secrets.ITP_MYSQL_USER}}
  ITP_MYSQL_PASSWORD: ${{secrets.ITP_MYSQL_PASSWORD}}
  ITP_MYSQL_DATABASE: ${{secrets.ITP_MYSQL_DATABASE}}
  ITP_MYSQL_URL: ${{secrets.ITP_MYSQL_URL}}
  ITP_MYSQL_PORT: ${{secrets.ITP_MYSQL_PORT}}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install yarn
        run: |
          npm install -g yarn

      - name: Create separate directory
        run: mkdir uppr_deploy && cd uppr_deploy &&  sudo yarn set version berry
      - name: Cloning repo
        run: git clone https://github.com/dimuch/uppr.git && cd uppr
      - name: Install dependencies
        run: sudo yarn install
      - name: Build sources
        run: sudo yarn build
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Copy build to server
        run: pwd && ls -al && cd ../ && ls -al
#        uses: appleboy/scp-action@master
#        env:
#          HOST: ${{ secrets.SSH_HOST }}
#          USERNAME: ${{ secrets.SSH_USER }}
#          KEY: ${{ secrets.SSH_KEY }}
#          PORT: ${{ secrets.SSH_PORT }}
#        with:
#          source: ".next"
#          target: ${{secrets.DEPLOY_DIRECTORY}}
